body {
    margin: 0;
}

#map-canvas {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.disabled {
    opacity: 0 !important;
    visibility: collapse !important;
}

#loader {
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    transition: .2s all;
}

#loader svg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
}

#loadingProgress {
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
	  top: 0px;
	  left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    transition: .2s all;
    }

#loadingText {
    position: relative;
    top: 50%;
    left: 50%;
    color: white;
    z-index: 1;
}

#loadingBarBackdrop {
	  position: fixed;
    width: 50%;
	  transform: translateX(50%);
    bottom: 50%;
	  background-color: rgba(255, 255, 255, 0.25);
	  border-radius: 30px;
}

#loadingBar {
    width: 0%;
	  height: 30px;
    background-color: #ff66cc;
    border-radius: 30px;
    transition: .5s;
}

/* CONTROL PANEL */

.control-section {
    font-size: 16px;
    border: 0px solid white;
    border-radius: 5px;
    margin-top: 0px;
    padding: 0px 20px 0px 11px;
    background-color: none;
    width: 100%;
}

.control-label {
    font-size: 24px;
    color: white;
    padding: 5px 0px;
    border-bottom: 2px solid white;
    font-weight: 600;
}

.button {
    font-size: 14px;
    background-color: rgba(255, 102, 204, 0.35);
    color: white;
    border: 2px solid #ff66cc;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    display: inline-block;
    width: calc(100% - 44px);
    margin-left: 10px;
    float: left;
    text-align: center;
    margin-top: -10px;
}

#controls {
    width: 240px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 50px;
    margin-left: 20px;
}

#title-outer {
    color: white;
    position: fixed;
    top: -25px;
    left: 0px;
    margin-top: 0px;
    margin-left: 25px;
}

#title-outer h1 {
    font-size: 32px;
    margin-bottom: 0px;
}

#title-outer p {
    margin-top: 5px;
}

#city-select {
    margin-top: 10px;
    height: 35px;
}

#sliders {
    margin-bottom: 0px;
}

.slider-label {
    width: 150%;
    color: white;
}

.slider-label .label-text {
    position: relative;
}

.slider-label input {
    border: 0;
    font-size: 12px;
    background-color: transparent;
    color: #ff66cc;
    font-weight: bold;
}

.slider-label .label-text .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;

    position: absolute;
    z-index: 3;
    top: -5px;
    left: 105%;
}

.label-text:hover .tooltiptext {
    visibility: visible;
}

.ui-slider {
    height: 4px;
    width: 100%;
}

.ui-slider .ui-slider-handle {
    height: 12px;
    width: 12px;
    padding-left: 0px; //add this
}

.switch {
	  position: relative;
	  display: inline-block;
	  width: 60px;
	  height: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
		border-radius: 10px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
		border-radius: 50%;
}

input:checked + .slider {
    background-color: #ff66cc;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ff66cc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(41px);
    -ms-transform: translateX(41px);
    transform: translateX(41px);
}

.button.traffic {
    color: #ff66cc;
    background: transparent;
    margin: 0px 3px;
    width: calc(50% - 30px);
    float: left;
}


.button.city {
    color: #ff66cc;
    background: transparent;
    margin: 0px 3px;
    width: calc(33% - 30px);
    float: left;
}

/* END CONTROL PANEL */

#summary {
    position: absolute;
    right: 20px;
    top: 30px;
    color: white;
    border-color: white;
    border-collapse: collapse;
    width: 75%;
    font-size: medium;
}

#summary thead {
    border-bottom: 2px solid white;
}

#summary td {
    padding: 5px 5px;
}

#graphs {
    position: absolute;
    right: 0px;
    bottom: 70px;
    padding: 0px 50px;
    text-align: right;
}

#graphs .graph {
    display: none;
    float: right;
    color: white;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: 600
}

div.info.legend.leaflet-control {
    margin: 10px;
    color: white;
    text-align: right;
}

div.info.legend.leaflet-control i {
    padding: 3px;
    width: 80px;
}


/* RESULTS */

#results {
    position: absolute;
    top: 10px;
    left: 300px;
    color: white;
}

/* END RESULTS */

#myProgress {
    position: fixed;
    width: 50%;
    transform: translateX(50%);
    bottom: 5px;
}

#barBackdrop {
    width: 100%;
    background-color: rgba(20, 20, 20, 0.5);
    border-radius: 10px;
}

#myBar {
    position: relative;
    left: 0%;
    width: 0%;
    height: 20px;
    background-color: #FFDE75;
    border-radius: 10px;
}

#progressLabels {
    width: 100%;
}

/* OLD PROGRESS BAR */
/*#progress {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    transform: translateX(50%);
}*/
/*
UNUSED
*/

#trip-box {
    /*width: 300px;*/
    height: 40%;
    overflow-y: scroll;
    font-size: 14px;
    top: 5%;
    right: 1%;
    background-color: white;
}

#data-box {
    /*width:425px;*/
    /*height:40%;*/
    line-height: 0px;
    bottom: 2%;
    right: 2%;
    font-size: 12px;
    font-weight: bold;
    background-color: blue;

}

.style {
    /*background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));*/
    /*background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);*/
    margin: auto;
    position: absolute;
    font-family: Tahoma, Geneva, sans-serif;
    color: #09C;
    line-height: 24px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


.style-upper-right {
    /*background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));*/
    /*background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);*/
    margin: auto;
    position: absolute;
    font-family: Tahoma, Geneva, sans-serif;
    color: #09C;
    line-height: 24px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
    padding: 12px;
    border: 0px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    /*top:-400px;*/
    /*height:20px;*/
    bottom: 3%;
    left: .7%;
    width: 90%;
    background-color: transparent;
}

.table {
    border-collapse: collapse;
}

.table td {
    padding: .2em;
}

.header {
    text-align: center;
    border-bottom-style: solid;
    /*border-top-style: solid;*/

}


th {
    border: 1px solid black;
}

td {
    text-align: center;
}

/*body, a:hover {*/
/*    cursor: url(http://ani.cursors-4u.net/toons/too-12/too1137.cur), progress !important;*/
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

ol li {
    opacity: 0.5;
}

ol li:hover {
    opacity: 1 !important;
}


.topcol {
    position: absolute;
    color: none;
    width: 100%;
}

.topleft {
    width: 100%;
    overflow: hidden;
}

.Row {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.Column {
    display: table-cell;
    background-color: ;
}

.chart {
    background: none;
    margin: 5px;
}

.chart rect {
    stroke: none;
    fill: #cc99ff;
}

.chart text {
    fill: white;
}

.chart text .name {
    fill: white;
}

.chart line {
    stroke: #c1c1c1;
}

.chart .rule {
    fill: white;
}

/* removed the while stroke as we don't need it anymore */
#step-5 .chart rect {
    stroke: none;
}

/* a bit of hovering effect for each bar */
#step-5 .chart rect:hover {
    fill: #64707D;
}

text {
    font: sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: whi;
    shape-rendering: crispEdges;
}

.chartControl {
    position: relative;
    left: 140px;
    top: -3px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #09C;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    /*font-size: 20px !important;*/
}
