body {
    margin: 0;
}

#map-canvas {
    top: 0;
    height: 100%;
    width: 100%;
    position:absolute;
    z-index: -1;
}

/* CONTROL PANEL */

.button {
    background-color: #ff66cc;
    color: white;
    border: 2px solid #ff66cc;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    display: inline-block;
    width: calc(100% - 24px);
    float: left;
    text-align: center;
    margin-top: 10px;
}

#controls {
    width: 250px;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 20px;
}

#title-outer {
    color: white;
}

#title-outer h1 {
    font-size: 26px;
    margin-bottom: 0px;
}

#title-outer p {
    margin-top: 5px;
}

#city-select {
    margin-top: 10px;
    height: 35px;
}

#sliders {
    margin-bottom: 30px;
}

.slider-label {
    color: white;
}

.slider-label input {
    border: 0;
    width: 35px;
    font-size: 12px;
    background-color: transparent;
    color: #ff66cc;
    font-weight: bold;
}

.ui-slider   {
    height: 4px;
    width: 100%;
}

.ui-slider  .ui-slider-handle   {
    height: 12px;
    width: 12px;
    padding-left: 0px; //add this
}

.button.traffic {
    color: #ff66cc;
    background: transparent;
    margin: 0px 3px;
    width: calc(50% - 30px);
    float: left;
}


.button.city {
    color: #ff66cc;
    background: transparent;
    margin: 0px 3px;
    width: calc(33% - 30px);
    float: left;
}

/* END CONTROL PANEL */

#graphs {
    position: absolute;
    left: 250px;
    top: 10px;
    padding: 0px 50px;
    width: calc(100vw - 350px);
}

#graphs .graph {
    display: none;
    float: right;
    color: white;
    margin-top: 10px;
    margin-left: 30px;
    font-weight:600
}


/* RESULTS */

#results {
    position: absolute;
    top: 10px;
    left: 300px;
    color: white;
}

/* END RESULTS */

#progress {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}
/*
UNUSED
 */

#trip-box {
    /*width: 300px;*/
    height: 40%;
    overflow-y: scroll;
    font-size: 14px;
    top: 5%;
    right:1%;
    background-color: white;
}

#data-box {
    /*width:425px;*/
    /*height:40%;*/
    line-height: 0px;
    bottom:2%;
    right:2%;
    font-size: 12px;
    font-weight: bold;
    background-color: blue;

}

.style {
    /*background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));*/
    /*background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);*/
    margin:auto;
    position: absolute;
    font-family: Tahoma, Geneva, sans-serif;
    color: #09C;
    line-height: 24px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}


.style-upper-right {
    /*background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));*/
    /*background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);*/
    margin:auto;
    position: absolute;
    font-family: Tahoma, Geneva, sans-serif;
    color: #09C;
    line-height: 24px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
    padding: 12px;
    border: 0px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    /*top:-400px;*/
    /*height:20px;*/
    bottom: 3%;
    left: .7%;
    width: 90%;
    background-color: transparent;
}

.table {
 border-collapse: collapse;
}

.table td {
 padding: .2em;
}

.header {
    text-align: center;
    border-bottom-style: solid;
    /*border-top-style: solid;*/

}


th {
   border: 1px solid black;
}

td {
    text-align: center;
}
/*body, a:hover {*/
    /*    cursor: url(http://ani.cursors-4u.net/toons/too-12/too1137.cur), progress !important;*/
}

body {
    margin:  0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

ol li {
    opacity: 0.5;
}

ol li:hover {
    opacity: 1 !important;
}


.topcol {
  position: absolute;
  color: none;
  width: 100%;
}

.topleft {
  width            : 100%;
  overflow         : hidden;
}

.Row
{
display: table;
width: 100%;
table-layout: fixed;
border-spacing: 10px;
}

.Column
{
display: table-cell;
background-color: ;
}

.chart {
background: none;
margin: 5px;
}

.chart rect {
stroke: none;
fill: #cc99ff;
}

.chart text {
fill: white;
}

.chart text .name {
fill: white;
}

.chart line {
stroke: #c1c1c1;
}

.chart .rule {
fill: white;
}

/* removed the while stroke as we don't need it anymore */
#step-5 .chart rect {
stroke: none;
}

/* a bit of hovering effect for each bar */
#step-5 .chart rect:hover {
fill: #64707D;
}

text {
font: 10px sans-serif;
}

.axis path,
.axis line {
fill: none;
stroke: whi;
shape-rendering: crispEdges;
}

.chartControl {
position: relative;
left: 140px;
top: -3px;
}

.axis path,
.axis line {
fill: none;
stroke: #09C;
shape-rendering: crispEdges;
}

.axis text {
font-family: sans-serif;
font-size: 8px;
}
